<article>
    <!--========== PANTALLA DE REGISTRO ==========-->
    <div class="modal-registro" *ngIf="showRegistro">
      <app-registro-datos-clientes-page
        (cerrarComponenteEvent)="mostrarComponente()"
      ></app-registro-datos-clientes-page>
    </div>


  <header>
    <app-header-pages-configuration (callBackData)="recibirData($event)" (cerrarComponenteEvent)="mostrarComponente()" [nombrePagina]="nombrePagina"></app-header-pages-configuration>
  </header>
  <main>
    <div class="bg-container-body">
      <div class="container-body">
        <app-table-datos-clientes [nombrePagina]="nombrePagina" [pParemetro]="p" [cantidadPaginas]="cantDatosPorPagina" [dataClientes]="datosClienteslista" [isLoading]="isLoading"></app-table-datos-clientes>
      </div>
    </div>
    <div class="paginacion">
      <pagination-controls (pageChange)="p = $event" ></pagination-controls>
    </div>

  </main>
</article>
