<table class="table table-striped table-inverse table-responsive">
  <thead class="thead-inverse">
    <tr>
      <th >
        <app-th-tables-icon-text
          [nombreTh]="'N°'"
        ></app-th-tables-icon-text>
      </th>
      <th >
        <app-th-tables-icon-text
          [nombreTh]="'Usuario'"
        ></app-th-tables-icon-text>
      </th>
      <th >
        <app-th-tables-icon-text
          [nombreTh]="'Contraseña'"
        ></app-th-tables-icon-text>
      </th>
      <th >
        <app-th-tables-icon-text
          [nombreTh]="'Rol'"
        ></app-th-tables-icon-text>
      </th>
      <th >
        <app-th-tables-icon-text
          [nombreTh]="'E. Nombre'"
        ></app-th-tables-icon-text>
      </th>
      <th >
        <app-th-tables-icon-text
          [nombreTh]="'E. Apellido'"
        ></app-th-tables-icon-text>
      </th>
      <th >Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor=" let item of dataUsuarios | orderListUsuario : optionSort.property : optionSort.order">

      <td scope="row">{{item.Id_Usuario}}</td>
      <td>{{item.Usuario}}</td>
      <td>{{item.Clave}}</td>
      <td>{{item.Id_Rol_Usuario_Fk.Descripcion_Rol}}</td>
      <td>{{item.Id_Empleado_Fk.Nombres}}</td>
      <td>{{item.Id_Empleado_Fk.Apellidos}}</td>
      <td>
        <button class="btn-option-table btn-editar">
          <i class="uil uil-pen"></i>
        </button>
      </td>
      <td>
        <button class="btn-option-table btn-eliminar">
          <i class="uil uil-trash"></i>
        </button>
      </td>

  </tbody>
</table>


