<article>
  <div class="container-targets-datos">
    <app-target-data-organisms [mode]="'principal-1'" [titleTarget]="'Clientes'" [cantidadTarget]="cantidadClientes.toString()" [iconoTarget]="'uil uil-users-alt'" />
    <app-target-data-organisms [mode]="'principal-2'" [titleTarget]="'Ordenes'" [cantidadTarget]="'12'" [iconoTarget]="'uil uil-th-large'"/>
    <app-target-data-organisms [mode]="'principal-3'" [titleTarget]="'Autos'" [cantidadTarget]="cantidadAutos.toString()" [iconoTarget]="'uil uil-car-sideview'"/>
    <app-target-data-organisms [mode]="'principal-4'" [titleTarget]="'Reparaciones'" [cantidadTarget]="'12'" [iconoTarget]="'uil uil-wrench'"/>
  </div>
  <div class="container-distribucion">
    <div class="parte-izquierda">
      <app-tarjeta-descripcion-principal/>
    </div>
    <div class="parte-derecha">

    </div>
  </div>
</article>
